body {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
  color: #383838;
}

h2 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
  color: salmon;
}

/* Clients and Stylists Content ------ */

ul {
  margin-bottom: 30px;
}

li {
  font-size: 25px;
}

li a {
  color:  mediumseagreen;
}

p {
  font-size: 28px;
}

p a {
  font-size: 22px;
}

/* Splash Page ------------------------ */

#splash {
  text-align: center;
  margin: 100px;
}

#splash h1 {
  font-size: 160px;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Patua One', cursive;
  color: salmon;
}

#splash h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 0;
  color: rgb(84, 92, 70);
}

.blue {
  color: cornflowerblue;
}

/* Forms ------------------------ */

label{

  float: left;
  clear: left;
  width: 60px;
  text-align: left;
  margin-bottom: 10px;
}

input {
  float: left;
  } 

/* Navbar ------------------------- */

nav li {
  font-size: 20px;
}
.navbar li a {
  color: rgb(84, 92, 70);
}
.navbar-brand {
  color: rgb(84, 92, 70);
}
