@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<h2>Stylist and Client Manager</h2>
<p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("View All Clients", "Index", "Clients")</p>